body {
  padding: 0px;
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label,
input {
  display: block;
  width: 230px;
  float: left;
  margin-bottom: 10px;
}

label {
  text-align: right;
  width: 75px;
  padding-right: 20px;
}

br {
  clear: left;
}
#submit {
  width: 40%;
  text-align: center;
  margin: 10px;
  margin-right: auto;
  float: right;
  color: black;
  background-color: lawngreen;
  font-family: cursive;
  font-weight: bold;
  border: none;
  border-radius: 5px 0 5px 0;
}
